<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>editWorkout</title>
        <meta charset="utf-8" />
    </head>

    <style>

      body {
        background-color:grey;
        /*rgb(0, 90, 120)*/
        }

        h1{
        border: 10px solid black;
        margin-top: 1px;
        background-color:rgb(102, 0, 51);
        color: rgb(0, 0, 0);
        font-size: 46px;
    	}

    	form{
      	background-color: rgb(102, 0, 51);
    	}

    	p{
    		color: white;
    	}
    </style>

    <body>

    <h1>GYM<br>PARE<h1>

    <h2>Edit workout "{{workoutname}}":</h2>
    <form method="post" action="{{base_path}}/workout_edit/{{id}}">
    <p>New date (YYYY-MM-DD):</p>
    <input type="text" name="date"/>
  	<p>New name:</p>
    <input type="text" name="name"/>
    <p>New description:</p>
    <textarea rows="4" cols="50" name="description"></textarea><br>
    <button>EDIT WORKOUT</button>
</form>

    </body>