<!DOCTYPE>

	<head>
        <title>CaloriesCount</title>
        <meta charset="utf-8" />
    </head>

    <style>
    	body{
    		background-color: grey;
    	}

    	p{
    		width: 400px;
    		border-style: solid;
    		border-width: small;
    	}

    	.lohdutus{ 
    		font-weight: bold;
    	}
    </style>

    <body>
    	The program assumes an average velocity of about 8km/h (5mph) (4km or 2.5miles in 30minutes).
    	<p>Formula for personal calorie consumption:<br>Calories = 8.0 x Hours x Weight</p>
    	If not given, 'Hours' is either worked out using running duration and the assumed velocity.
    	<p class='lohdutus'>The amount of calories might seem frustratingly low. Remember that most energy usage happens while recovering from a workout!</p>
    </body>